<div class="navbar-fixed">
  <nav class="z-depth-0">
  <div class="nav-wrapper">
      <a href="#" class="brand-logo left grey-text lighten-1">zubut</a>
      <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons grey-text">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button grey-text lighten-1" href="#" data-activates="user-options">{{user.name}}<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
  </div>

  <ul id="user-options" class="dropdown-content">
      <li><a href="#" ng-click="logout()">CERRAR SESIÓN</a></li>
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a href="#">DASHBOARD</a></li>
    <li><a href="#" ng-click="logout()">CERRAR SESIÓN</a></li>
</ul>
</nav>
</div>


